.app-heading {
  text-align: center;
}
body {
  background-color:#ecf2f9;
}
/* styles/FilterSort.css */

.filter-container,
.sort-container {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing between filter and sort */
}

